<template>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Question
          </th>
          <th>
            Start
          </th>
          <th>
            End
          </th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="poolings.length === 0">
          <td colspan="5" style="text-align: center;">no data</td>
        </tr>
        <tr v-for="(p, key) in poolings" :key="key">
          <td>{{ p.question }}</td>
          <td>{{ p.start_date || '-' }}</td>
          <td>{{ p.end_date || '-' }}</td>
          <td>
            <button class="btn btn-outline-primary">view</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import poolingService from '@/services/poolingService';

async function getPooling() {
  try {
    let response = await poolingService.getPooling();
    this.poolings = response.data.data;
  } catch (err) {
    console.log(err);
  }
}

export default {
  name: 'PoolingTable',
  data() {
    return {
      poolings: []
    };
  },
  mounted: async function() {
    this.getPooling();
  },
  methods: {
    getPooling
  }
};
</script>

<style>
</style>
