<template>
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
          <div class="user-wrapper">
            <div class="profile-image">
              <!-- <img src="/images/faces/face1.jpg" alt="profile image"> -->
            </div>
            <div class="text-wrapper">
              <p class="profile-name">{{ profile.email }}</p>
              <div>
                <small class="designation text-muted">Admin</small>
                <span class="status-indicator online"></span>
              </div>
            </div>
          </div>
          <button class="btn btn-success btn-block">Sign Out
            <i class="mdi mdi-logout-variant"></i>
          </button>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click="navigate('/dashboard')">
          <i class="menu-icon mdi mdi-television"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click="navigate('/makanapa')">
          <i class="menu-icon mdi mdi-food"></i>
          <span class="menu-title">Foods Module (Makanapa)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click="navigate('/event')">
          <i class="menu-icon mdi mdi-bullhorn-outline"></i>
          <span class="menu-title">Event Module (Eventer)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click="navigate('/pooling')">
          <i class="menu-icon mdi mdi-clipboard"></i>
          <span class="menu-title">Pooling Module</span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
import adminService from '@/services/adminService';

function navigate(path) {
  this.$router.push(path);
}

async function getProfile() {
  try {
    let response = await adminService.getProfile();
    this.profile = response.data.data;
  } catch (err) {}
}

export default {
  name: 'Sidebar',
  data() {
    return {
      profile: {}
    };
  },
  mounted: async function() {
    this.getProfile();
  },
  methods: {
    getProfile,
    navigate
  }
};
</script>

<style>
</style>
