<template>
  <div class="row w-100">
    <div class="col-lg-4 mx-auto">
      <div class="auto-form-wrapper">
        <form action="#" @submit="login">
          <div class="form-group">
            <label class="label">Username</label>
            <div class="input-group">
              <input v-model="email" :disabled="sending" type="text" class="form-control" placeholder="Username" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="mdi mdi-check-circle-outline" />
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="label">Password</label>
            <div class="input-group">
              <input v-model="password" :disabled="sending" type="password" class="form-control" placeholder="*********" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button :disabled="sending" class="btn btn-primary submit-btn btn-block">
              {{ sending? 'Logging in...' : 'Login' }}
            </button>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div class="form-check form-check-flat mt-0"></div>
            <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
          </div>
        </form>
      </div>
      <ul class="auth-footer">
        <li>
          <a href="#">Conditions</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
      </ul>
      <p class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>
    </div>
  </div>
</template>

<script>
import authService from '@/services/authService';
import { mapMutations } from 'vuex';

function login(e) {
  e.preventDefault();
  this.sending = true;
  authService
    .login(this.email.toLowerCase(), this.password)
    .then(res => {
      console.log(res.data);
      this.setSession(res.data.data.token);
      this.sending = false;
      this.$snotify.success('Login success');
      this.$router.push('dashboard');
    })
    .catch(err => {
      console.error(err);
      this.sending = false;
      this.$snotify.error('Invalid username and password');
    });
}

export default {
  layout: 'auth',
  name: 'LoginPage',
  data() {
    return {
      email: 'herujokoutomo@gmail.com',
      password: 'Test123)',
      sending: false
    };
  },
  methods: {
    login,
    ...mapMutations({
      setSession: 'setSession'
    })
  }
};
</script>
