<template>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pooling</h4>
          <p class="card-description">
            Create pools to get data from user
          </p>
          <pooling-table></pooling-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PoolingTable from '@/components/shared/Pooling';

export default {
  layout: 'admin',
  name: 'Pooling',
  components: {
    PoolingTable
  }
};
</script>

<style>
</style>
